# Default NAMESPACE created by R
# Remove the previous line if you edit this file

# Export all names
exportPattern(".")

importFrom("graphics", "barplot", "mtext")
importFrom("stats", "dmultinom", "rmultinom")
importFrom("utils", "flush.console")